body{
    background-color: black;
}
#btn{
    height:100px;
    width: 50px;
    background-color: red;
    color: black;
    border: 1px solid grey;
    margin-top: 30px;
    box-shadow:2px 4px 4px grey
}
.on,.off{
    width: 150px;
    height: 200px;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    width: 100%;
    height: 100vh;
}
