.resetStyles{
    color: black;
}
.dangerText{
    color: rgb(255, 0, 0);
    background-color: rgb(224, 212, 212);
    width: 200px;
    height: 50px;
    text-align: center;
}
.successText{
    color: green;
    background-color: rgb(224, 212, 212);
    width: 200px;
    height: 50px;
    text-align: center;
}
