.LHS,.RHS{
    width: 50vw;
    height: 100vh;
}
.LHS{
    background: url(bg.png);
    background-size: cover;
    justify-content: space-between;
}
.container-parent{
    /* width: 100%; */
    height: 100%;
    display: flex;
}
.container{
    width: 60%;
    z-index: 5;
    margin: 0 auto;
    
}
.welcome-note{
    color: white;
    text-align: center;
    margin-top: 25px;
    z-index: 5;

}
.LHS::before{
    content: '';
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    width: 50%;
    position: absolute; 
    top: 0;
    left: 0;

}
.guess-input {
  width: 70%;
  align-self: center;
  padding: 12px;
  border: 1px solid #b9bdc1;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  outline: none;
  box-shadow: none;
}
.submit-btn {
  margin-top: 2.5rem;
  width: 50%;
  align-self: center;
  height: 2.5rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #1cd286;
  color: black;
  border: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  
}
.submit-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 8px #12142d;
}
.guess-input:focus{
  border: 0.5px solid #9397c4;
  box-shadow: 0 0 5px rgb(206, 203, 203);
}
.fail{
  background-color: rgb(181, 75, 75);
  color: white;
}

.pass{
  background-color: rgb(115, 215, 115);
  color: white;
}