*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.text-white{
    color: white;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}